body {
  background-color: #efefef;
}
.content {
  width: 700px;
  min-height: 700px;
  overflow: hidden;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.content input[type="text"] {
  width: 200px;
  padding: 10px;
}
.taskList {
  margin-top: 20px;
}
.taskList div {
  margin-top: 10px;
  border: 1px solid #ccc;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
}
.closeButton {
  float: right;
  font: 12px;
  cursor: pointer !important;
}